/*
File: Folha de Estilo CSS
Author: Erivando Ramos
Author URI: http://www.rwd.net.br
Data: 29/08/2012
*/

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:#FFFFFF;
	}

img{display:inline; margin:0; padding:0; border:none;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart {list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{
	color:#B2C629;
	outline:none;
	text-decoration:none;
	}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl, .imgr{border:1px solid #999999; padding:5px;}
.imgl{float:left; margin:0 8px 8px 0; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

.col1{color:#CCCCCC; background-color:#000000;}
.col2, .col2 a{color:#FFFFFF; background-color:#B2C629;}
.col3{color:#777777; background-color:#FFFFFF;}
.col3 a{color:#B2C629;}
.col4{color:#FFFFFF; background-color:#000000;}
.col4 a{color:#95AD19; background-color:#000000;}
.col5, .col5 a{color:#333333; background-color:#95AD19;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #topbar, #homepage, #breadcrumb, #container, #footer, #copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:20px 0;
	z-index:1000;
	}

#header #logo{
	display:block;
	float:left;
	width:300px;
	overflow:hidden;
	}

#header #logo h1, #header #logo p{
	margin:0;
	padding:0;
	line-height:normal;
	font-size: 12pt;
	}

#header #logo h1{
	font-size:34px;
	text-transform:capitalize;
	}

#header h1 a{
	color:#B2C629;
	}

/* ----------------------------------------------BreadCrumb-------------------------------------*/

#breadcrumb{
	padding:20px 0;
	}

#breadcrumb ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline;}

/* ----------------------------------------------Content-------------------------------------*/

#container{
	padding:20px 0;
	}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	margin:0 0 15px 0;
	padding:0 0 8px 0;
	border-bottom:1px solid #E7E6E6;
	}

/* ----------------------------------------------Homepage Block-------------------------------------*/

.homepage{
	display:block;
	width:100%;
	margin:15px 0 0 0;
	padding:0;
	}

.homepage ul{
	margin:0;
	padding:0;
	list-style:none;
	}

.homepage li{
	display:block;
	float:left;
	width:280px;
	margin:0 0 20px 20px;
	padding:0;
	}

.homepage li.last{margin-right:0;}

.homepage li h2{
	display:block;
	width:100%;
	height:70px;
	margin:0;
	padding:15px 0 5px 0;
	font-weight:normal;
	line-height:normal;
	border-bottom:1px dotted #999999;
	font-size: 9pt;
	font-variant: small-caps;
	font-weight: bold;
	}

.homepage li h2 img{
	float:left;
	margin:1px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	}

.homepage p{
	margin:-10px 0 20px 0;
	padding:0;
	line-height:1.2em;
	}

.homepage p.readmore{
	display:block;
	text-align:left;
	line-height:normal;
	font-weight:bold;
	}

.homepage p.readmore a{
	padding:8px 15px 10px;
	color:#FFFFFF;
	background-color:#95AD19;
	}

/* ----------------------------------------------Content Block-------------------------------------*/

#content{
	display:block;
	float:right;
	width:600px;
	}

/* ------Comments-----*/

#comments{margin-bottom:40px;margin-top: 20px;}

#comments .commentlist {margin-top: -10px; padding:0;}

#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}

#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#95AD19; background-color:#F7F7F7;}

#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#95AD19; background-color:#E8E8E8;}

#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller; color: #919191;}

#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight: normal;text-transform: none;}

#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:left;
	width:300px;
	}

#column .holder{
	display:block;
	width:300px;
	margin-bottom:20px;
	}

#column .holder p{
	line-height:1.6em;
	}

#column .holder h2.title{
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	line-height:normal;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #666666;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	padding:4px;
	color:#666666;
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	padding:20px 0;
	}

#footer ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#footer h2{
	margin:0 0 15px 0;
	padding:0 0 8px 0;
	font-size:18px;
	color:#CCCCCC;
	background-color:#000000;
	border-bottom:1px dotted #CCCCCC;
	}

#footer .box{
	display:block;
	float:right;
	width:250px;
	margin:0 0 0 25px;
	padding:0;
	}

#footer .box1{
	display:block;
	float:left;
	width:400px;
	line-height:1.6em;
	overflow: hidden;
	}

#footer .box1 .imgl{border:1px solid #CCCCCC; padding:5px; color:#FFFFFF; background-color:#000000;}

#footer .contactdetails {
	margin:0 0 0 60px;
	}
#footer .contactdetails li{
	margin:0 0 8px 0;
	width:290px;
	}

#footer .flickrbox, #footer .flickrbox .wrap{display:block; width:180px;}
#footer .flickrbox .wrap .fix{clear:both;}
#footer .flickrbox .wrap .flickr_badge_image{display:block; float:left; margin:0 10px 10px 0; width:80px; height:80px;}
#footer .flickrbox .wrap #flickr_badge_image3, #footer .flickrbox .wrap #flickr_badge_image6{margin-right:0;}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:10px 0;
	}

#copyright p{
	margin:0;
	padding:0;
	}

/* ----------------------------------------------Navigation-------------------------------------*/

#topnav{
	display:block;
	float:right;
	margin:7px 0 0 0;
	padding:0;
	list-style:none;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width: 650px;
	}

#topnav ul, #topnav li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	}

#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
	display:block;
	margin:0;
	padding:15px 5px 15px 5px;
	color:#999999;
	background-color:#333333;
	border-bottom:1px solid #000000;
	width: 119px;
	height: 18px;
	overflow: hidden;
	text-align: center;
	text-transform: capitalize;
	}

#topnav ul ul li a:link, #topnav ul ul li a:visited{
	border:none;
	}

#topnav li.last a{
	margin-right:0;
	}

#topnav li a:hover, #topnav ul li.active a{
	color:#FFFFFF;
	background-color:#B2C629;
	}
	
#topnav li li a:link, #topnav li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	}

#topnav li ul{
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:170px;
	/*border-left:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;*/
	border:1px solid #CCCCCC;
	}

#topnav li ul a{width:140px;}

#topnav li ul ul{margin:-32px 0 0 0;}

#topnav li:hover ul ul{left:-999em;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{position:static;}

#topnav li.last a{margin-right:0;}

/* ----------------------------------------------Column Navigation-------------------------------------*/

#column .subnav{display:block; width:250px; padding:25px; background-color:#F9F9F9; margin-bottom:30px;}

#column .subnav h2{
	margin:0 0 20px 0;
	padding:0 0 14px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	background-color:#F9F9F9;
	line-height:normal;
	border-bottom:1px dotted #666666;
	}

#column .subnav ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#column .subnav li{
	margin:0 0 3px 0;
	padding:0;
	}

#column .subnav ul ul, #column .subnav ul ul ul, #column .subnav ul ul ul ul, #column .subnav ul ul ul ul ul{border-top:none; padding-top:0;}

#column .subnav a{
	display:block;
	margin:0;
	padding:5px 10px 5px 20px;
	color:#777777;
	background:url(../resources/images/green_file.gif) no-repeat 10px center #F9F9F9;
	text-decoration:none;
	border-bottom:1px dotted #666666;
	}

#column .subnav a:hover{color:#B2C629; background-color:#F9F9F9;}

#column .subnav ul ul a, #column .subnav ul ul ul a, #column .subnav ul ul ul ul a, #column .subnav ul ul ul ul ul a{background:url("../resources/images/black_file.gif") no-repeat #F9F9F9;}
#column .subnav ul ul a{padding-left:40px; background-position:30px center;}
#column .subnav ul ul ul a{padding-left:50px; background-position:40px center;}
#column .subnav ul ul ul ul a{padding-left:60px; background-position:50px center;}
#column .subnav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}

/* ----------------------------------------------Featured Slider-------------------------------------*/

#featured_slide {
	position:relative;
	margin:0 auto 0;
	display:block;
	width:860px;
	height:260px;
	padding:20px 50px;
	overflow:hidden;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:#B2C629;
	}

#featured_slide a{
	color:#FFFFFF;
	background-color:#B2C629;
	}

#featured_slide a, #featured_slide ul, #featured_slide img{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	list-style:none;
	text-decoration:none;
	}

#featured_slide h1, #featured_slide h2, #featured_slide h3, #featured_slide h4, #featured_slide h5, #featured_slide h6{
	margin:15px 0 10px 0;
	padding:0;
	line-height:normal;
	font-size:36px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

/* ----------------------------------------------Start Carousel-------------------------------------*/

#featured_content, #featured_content ul{
	display:block;
	width:860px;
	height:260px;
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	}

#featured_content li{
	display:block;
	position:relative;
	width:860px;
	height:260px;
	overflow:hidden;
	}

/* ----------------------------------------------Carousel Content-------------------------------------*/

#featured_content img{
	display:block;
	float:right;
	width:380px;
	height:250px;
	margin:0 10px 0 0;
	padding:4px;
	border:1px solid #FFFFFF;
	}

#featured_content .floater{
	display:block;
	float:left;
	width:415px;
	height:250px;
	margin:0 0 0 10px;
	padding:0;
	overflow:hidden;
	}

#featured_content p{
	margin:0 0 20px 0;
	padding:0;
	line-height:1.6em;
	}
	
#featured_content .italico{
	color: white;
	font-style: italic;
	}

#featured_content p.readmore{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	text-align:right;
	line-height:normal;
	font-weight:bold;
	}

#featured_content p.readmore a{
	padding:8px 15px 10px;
	color:#FFFFFF;
	background-color:#95AD19;
	}

/* ----------------------------------------------Previous & Next Buttons-------------------------------------*/

#featured-item-prev, #featured-item-next{
	display:block;
	position:absolute;
	top:118px;
	width:36px;
	height:64px;
	}

#featured-item-prev {left:5px;}

#featured-item-next {right:5px;}


/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------DO NOT CHANGE THE FOLLOWING CODE OTHERWISE THE FEATURED PANEL WONT WORK-------------------- */
/* ---------------------------------------------------------------------------------------------------------- */


.jcarousel-container{position:relative;}

.jcarousel-clip{
	z-index:2;
	padding:0;
	margin:0;
	overflow:hidden;
	position:relative;
	}

.jcarousel-list{
	z-index:1;
	overflow:hidden;
	position:relative;
	top:0;
	left:0;
	margin:0;
	padding:0;
	}

.jcarousel-list li, .jcarousel-item{
	float:left;
	list-style:none;
	width:75px;
	height:75px;
	}

.jcarousel-next{
	z-index:3;
	display:none;
	}

.jcarousel-prev{
	z-index:3;
	display:none;
	}

/* ----------------------------------------------Tables-------------------------------------*/

table{
	width:100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	margin-bottom:15px;
	border:1px solid #CCCCCC;
	}

table thead th{
	color:#FFFFFF;
	background-color:#666666;
	/*border:1px solid #CCCCCC;*/
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	vertical-align:middle;
	}

table tbody td{
	vertical-align:top;
	border-collapse:collapse;
	/*border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;*/
	}
	
table thead th, table tbody td{
	padding:5px;
	border-collapse:collapse;
	}

table tbody tr.light{
	color:#666666;
	background-color:#F7F7F7;
	}

table tbody tr.dark{
	color:#666666;
	background-color:#E8E8E8;
	}

/* ----------------------------------------------Forms-------------------------------------*/

form, fieldset, legend{margin:0; padding:0; border:none;}
/*legend{display:none;}*/
legend{font-size: 14pt; color: color:#B2C629;}
input, textarea, select {font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;}

/* ----------------------------------------------Forms in Content Area-------------------------------------*/

#container #respond{display: block; width:100%;}

#container #respond input{width:170px; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}

#container #respond textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}
	
#container #respond p{margin:5px 0;}

#container #respond #submit, #container #respond #reset{
	margin:0;
	padding:5px;
	color:#666666;
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	cursor:pointer;
	}

/* ----------------------------------------------Search Form-------------------------------------*/

#topbar input{
	display:block;
	float:left;
	width:238px;
	margin:0 5px 0 0;
	padding:5px;
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #999999;
	}

#topbar input#go{
	width:auto;
	height:auto;
	margin:0;
	padding:4px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFFFFF;
	background-color:#C80000;
	border-color:#C80000;
	cursor:pointer;
	}
	
/* -----------------------------------------------Mensagens---------------------------------------*/
	
.msg_ok {
	color: green;
	}
.msg_aviso {
	color: blue;
	}
.msg_erro {
	color: red;
	}
.cor-padrao {
	color:#B2C629;
	}
.slogan-rodape {
	margin-top: 0px;
	}
.data {
	font-size: 8pt;
	margin-top: -20px;
	padding-bottom: 5px;
	clear: both;
	position: absolute;
	color: #919191;
	}
	
.titulo {
	margin-top: -45px;
	padding-bottom: 5px;
	clear: both;
	position: absolute;
	font-weight:bold;
	font-size: 14pt;
	}

.destaque {
	font-variant: small-caps;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	}
	
/* ----------------------------------------------Fim-------------------------------------*/
