<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	<!-- Seta anotaçoes para serem usadas pelo Spring -->
	<context:annotation-config />
	
	<!-- Define o pacote onde o Spring vai procurar por beans anotados -->
	<context:component-scan base-package="br.net.rwd.website.dao, br.net.rwd.website.servico, br.net.rwd.website.controle" />
	
	<!-- define que as transaçoes irao ser anotadas -->
	<tx:annotation-driven />
	
	<!-- Configuracao do Banco de Dados -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"> 
  		<!-- Connection properties --> 
  		<property name="driverClass" value="org.postgresql.Driver" /> 
  		
  		<!-- Em desenvolvimento -->
  		<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/pesqueiro" /> 
  		<property name="user" value="postgres" /> 
  		<property name="password" value="postgres" /> 	
  		
  		<!-- Em producao 
  		<property name="jdbcUrl" value="jdbc:postgresql://pgsql4.porta80.com.br:5432/pesqueiroguaramiranga" /> 
  		<property name="user" value="guaramiranga" /> 
  		<property name="password" value="pesq12" /> 
  		-->
  		
  		<!-- Pool properties --> 
  		<property name="initialPoolSize" value="2" />
  		<property name="minPoolSize" value="2" /> 
  		<property name="maxPoolSize" value="30" /> 
  		<property name="maxStatements" value="50" /> 
  		<property name="idleConnectionTestPeriod" value="3000" /> 
  		<property name="loginTimeout" value="1800" /> 
  		<property name="acquireIncrement" value="5" />
    	<property name="numHelperThreads" value="3" /> 
	</bean>

	<!-- Configuracao do Hibernate -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource" /> 
    <property name="persistenceUnitName" value="WebSitePU" /> 
	<property name="jpaVendorAdapter">
		<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			<property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect" />
			<property name="showSql" value="false" />
		</bean>
	</property>
    <property name="jpaDialect"> 
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/> 
    </property>
    <property name="jpaProperties"> 
        <props>  
            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop> 
            <prop key="hibernate.connection.show_sql">false</prop> 
            <prop key="hibernate.format_sql">false</prop>     
			<prop key="hibernate.use_sql_comments">false</prop> 
			<prop key="hibernate.generate_statistics">false</prop>
			<prop key="hibernate.hbm2ddl.auto">validate</prop>
       		<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</prop> 
			<prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop>
			<prop key="hibernate.cache.use_second_level_cache">true</prop>
			<prop key="hibernate.cache.use_query_cache">true</prop>
           	<prop key="hibernate.cache.use_structured_entries">true</prop> 
           	<prop key="net.sf.ehcache.configurationResourceName">/ehcache/ehcache.xml</prop>
           	<prop key="hibernate.use_outer_join">true</prop> 
           	<prop key="hibernate.default_batch_fetch_size">500</prop> 
           	<prop key="hibernate.max_fetch_depth">5</prop> 
           	<prop key="hibernate.jdbc.batch_size">1000</prop>  	
        </props> 
    </property> 
	</bean>

	<!-- Configuracao do gerente de transacoes do Spring -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
</beans>